@{
}

<div class="row mb-3">
    <div class="col-md-4">
        <div class="d-flex flex-row widget summary car " data-bs-toggle="tooltip" data-bs-placement="top">
            <div class="icon-container p-5 car-widget" >
                <i class="fa-solid fa-car fa-2xl"></i>
            </div>
            <div class="d-flex flex-column m-auto py-3" id="revenueContainer" onclick="toggleRevenue()">
                <span class="lead fw-bold">Avtomobillar soni</span>
                <h1 class="display-6 fw-bold" >@ViewBag.CarsCount</h1>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="d-flex flex-row widget summary driver">
            <div class="icon-container p-5 car-widget" >
                <i class="fa-solid fa-user fa-2xl"></i>
            </div>
            <div class="d-flex flex-column m-auto py-3">
                <span class="lead fw-bold">Haydovchilar soni</span>
                <h1 class="display-6 fw-bold" >@ViewBag.DriversCount</h1>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="d-flex flex-row widget summary oil">
            <div class="icon-container p-5 car-widget" >
                <i class="fa-solid fa-gas-pump fa-2xl"></i>
            </div>
            <div class="d-flex flex-column m-auto py-3">
                <span class="lead fw-bold">Yoqilg'i sarfi</span>
                <h1 class="display-6 fw-bold">@ViewBag.MonthlyFuelConsumption</h1>
            </div>
        </div>
    </div>
</div>

<div class="row">
        <div class="col-md-4">
            <div class="widget chart">
                <div class="p-4">
                    <h5 class="fw-bold">Kasblar bo'yicha ishchilar soni</h5>
                </div>
            <ejs-accumulationchart id="doughnutchart" enableSmartLabels background="white">
                <e-accumulation-series-collection>
                    <e-accumulation-series dataSource="@ViewBag.EmployeesCountByRole"
                                           xName="RoleName" yName="CountOfEmployees"
                                           innerRadius="60%" legendShape="Circle"
                                           palettes=@(new string[]{ "#D35400","#3498DB","#27AE60","#1ABC9C","#8E44AD","#F39C12" })>
                        <e-accumulationseries-datalabel name="formattedAmount" visible>
                        </e-accumulationseries-datalabel>
                    </e-accumulation-series>
                </e-accumulation-series-collection>

                <e-accumulationchart-legendsettings position="Top" toggleVisibility="true">
                    <e-legendsettings-textstyle color="#0f0f0f" size="1.2rem"></e-legendsettings-textstyle>
                </e-accumulationchart-legendsettings>
                <e-accumulationchart-tooltipsettings enable></e-accumulationchart-tooltipsettings>
            </ejs-accumulationchart>

            </div>
        </div>
    <div class="col-md-8">
        <div class="widget chart">
            <div class="p-4">
                <h5 class="fw-bold">Yoqilg'i sarfi</h5>
            </div>
            <ejs-chart id="spline-chart" background="white"
                       palettes=@(new string[]{"#F24A38","#1374D6","#1DB413","#ffe91a","#9547C7"})>
                <e-chart-primaryxaxis valueType="Category">
                    <e-majorgridlines width="1"></e-majorgridlines>
                    <e-majorticklines width="1"></e-majorticklines>
                </e-chart-primaryxaxis>
                <e-chart-primaryyaxis>
                    <e-majorgridlines width="1" color="#32414d" dashArray="3,5"></e-majorgridlines>
                    <e-majorticklines width="1"></e-majorticklines>
                    <e-linestyle width="0"></e-linestyle>
                </e-chart-primaryyaxis>
                <e-chart-chartarea>
                    <e-chartarea-border width="1"></e-chartarea-border>
                </e-chart-chartarea>
                <e-series-collection>
                    <e-series dataSource="@ViewBag.SplineChartData" xName="Month" width="3" 
                              yName="Ai80" name="Ai80" type="Spline"></e-series>
                    <e-series dataSource="@ViewBag.SplineChartData" xName="Month" width="3"
                              yName="Ai91" name="Ai91" type="Spline"></e-series>
                    <e-series dataSource="@ViewBag.SplineChartData" xName="Month" width="3"
                              yName="Ai92" name="Ai92" type="Spline"></e-series>
                    <e-series dataSource="@ViewBag.SplineChartData" xName="Month" width="3"
                              yName="Ai95" name="Ai95" type="Spline"></e-series>
                    <e-series dataSource="@ViewBag.SplineChartData" xName="Month" width="3"
                              yName="Diesel" name="Diesel" type="Spline"></e-series>
                </e-series-collection>
                <e-chart-legendsettings position="Top" alignment="Far" toggleVisibility="false">
                    <e-legendsettings-textstyle color="#0f0f0f" size="1rem"></e-legendsettings-textstyle>
                </e-chart-legendsettings>
                <e-chart-tooltipsettings enable shared></e-chart-tooltipsettings>
            </ejs-chart>
        </div>
    </div>
</div>
<div class="col-md-5">
    <div class="widget chart">
        <div class="p-4">
            <h5 class="fw-bold">Yoqilg'ilar</h5>
        </div>
        <ejs-accumulationchart id="fueldoughnutchart" enableSmartLabels background="white">
            <e-accumulation-series-collection>
                <e-accumulation-series dataSource="@ViewBag.OilAmount"
                                       xName="Name" yName="Amount"
                                       innerRadius="60%" legendShape="Circle"
                                       palettes=@(new string[]{ "#D35400","#3498DB","#27AE60","#1ABC9C","#8E44AD","#F39C12" })>
                    <e-accumulationseries-datalabel name="formattedAmount" visible>
                    </e-accumulationseries-datalabel>
                </e-accumulation-series>
            </e-accumulation-series-collection>

            <e-accumulationchart-legendsettings position="Top" toggleVisibility="true">
                <e-legendsettings-textstyle color="#0f0f0f" size="1.2rem"></e-legendsettings-textstyle>
            </e-accumulationchart-legendsettings>
            <e-accumulationchart-tooltipsettings enable></e-accumulationchart-tooltipsettings>
        </ejs-accumulationchart>
    </div>
</div>
<div class="col">
    <div class="widget">
        <div class="p-4">
            <h5 class="fw-bold">Tekshiruvlar</h5>
        </div>
        <div class="px-4 pb-4">
            <ejs-grid id="resent-debts" allowPaging="true"
                      dataSource="@ViewBag.CheckPoint" gridLines="None" rowHeight="38">
                <e-grid-pagesettings pageSize="8"></e-grid-pagesettings>
                <e-grid-columns>
                    <e-grid-column headerText="Id" field="Id" template="#navigationColumnTemplate" textAlign=Center headerTextAlign=Center width="20"></e-grid-column>
                    <e-grid-column headerText="Boshlangan vaqti" field="StartDate" textAlign=Center headerTextAlign=Center width="100"></e-grid-column>
                    <e-grid-column headerText="Haydovchi" field="Driver" textAlign=Center headerTextAlign=Center width="100"></e-grid-column>
                    <e-grid-column headerText="Mexanik" field="Mechanic" textAlign=Center headerTextAlign=Center width="100"></e-grid-column>
                    <e-grid-column headerText="Operator" field="Operator" textAlign=Center headerTextAlign=Center width="100"></e-grid-column>
                    <e-grid-column headerText="Dispatcher" field="Dispatcher" textAlign=Center headerTextAlign=Center width="100"></e-grid-column>
                </e-grid-columns>
            </ejs-grid>
        </div>
    </div>
</div>

<script id="navigationColumnTemplate" type="text/x-template">
     <div>
        <a rel="nofollow" href="debts/details/${Id}">${Id}</a>
    </div>
</script>

<script id="statusColumnTemplate" type="text/x-template">
    ${if(Status == 0)}
        <span class="badge bg-success">To'langan</span>
    ${else if(Status == 1)}
        <span class="badge bg-danger">To'lanmagan</span>
    ${else}
        <span class="badge bg-warning">Qisman to'langan</span>
    ${/if}
</script>