@using CheckDrive.Web.ViewModels.CheckPoint
@model CheckPointViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/Layouts/_LayoutForModal.cshtml";
}

<link rel="stylesheet" href="~/css/checkPoint.css" />

<div class="grid-container">
    <div class="row content">
        <div class="col text-center">
            Haydovchi
        </div>
        <div class="col text-center">
            Avtomobil
        </div>
        <div class="col text-center">
            Hozirgi masofa
        </div>
        <div class="col text-center">
            Hozirgi yoqilg'i
        </div>
    </div>
    <div class="row value">
        <div class="col text-center">
            @Model.Driver
        </div>
        <div class="col text-center">
            @Model.CarModel
        </div>
        <div class="col text-center formatted-number">
            @Model.FormattedCurrentMileage
        </div>
        <div class="col text-center formatted-number">
            @Model.FormattedCurrentFuelAmount
        </div>
    </div>
    <div class="row content">
        <div class="col text-center">
            Mexanik
        </div>
        <div class="col text-center">
            Boshlang'ich masofa
        </div>
    </div>
    <div class="row value">
        <div class="col text-center">
            @Model.Mechanic
        </div>
        <div class="col text-center formatted-number">
            @Model.FormattedInitialMillage
        </div>
    </div>
    <div class="row content">
        <div class="col text-center">
            Operator
        </div>
        <div class="col text-center">
            Yoqilg'i turi
        </div>
        <div class="col text-center">
            Boshlang'ich yoqilg'i
        </div>
        <div class="col text-center">
            Quyilgan yoqilg'i
        </div>
    </div>
    <div class="row value">
        <div class="col text-center">
            @Model.Operator
        </div>
        <div class="col text-center">
            @Model.Oil
        </div>
        <div class="col text-center formatted-number">
            @Model.FormattedInitialOilAmount
        </div>
        <div class="col text-center formatted-number">
            @Model.FormattedOilRefillAmount
        </div>
    </div>
    <div class="row content">
        <div class="col text-center">
            Mexanik
        </div>
        <div class="col text-center">
            Yakuniy masofa
        </div>
    </div>
    <div class="row value">
        <div class="col text-center">
            @Model.Mechanic
        </div>
        <div class="col text-center formatted-number">
            @Model.FormattedFinalMileage
        </div>
    </div>
    <div class="row content">
        <div class="col text-center">
            Dispetcher
        </div>
        <div class="col text-center">
            Yoqilg'i sarfi
        </div>
    </div>
    <div class="row value">
        <div class="col text-center">
            @Model.Dispatcher
        </div>
        <div class="col text-center formatted-number">
            @Model.FormattedFuelConsumptionAdjustment
        </div>
    </div>
    <div class="row content">
        <div class="col text-center">
            Avtomobilning yakuniy qiymatlari
        </div>
    </div>
    <div class="row value">
        <div class="col text-center">
            Yakuniy masofa
            <input type="number" class="form-control formatted-number" style="text-align:center;" name="FinalMileage" value="@Model.FinalMileage" />
        </div>  
        <div class="col text-center">
            Hozirgi yoqilg'i
            <input type="number" class="form-control formatted-number" style="text-align:center;" name="CurrentFuelAmount" value="@Model.CurrentFuelAmount" />
        </div>
        <div class="col text-center">
            Qarz miqdori
            <input type="number" class="form-control formatted-number" style="text-align:center;" name="DebtAmount" value="@Model.DebtAmount" />
        </div>
    </div>
    <div class="d-flex col-md  justify-content-center">
        <button id="openModalButton" class="save-button" asp-action="create" type="button">
            <i class="fa"></i> Saqlash
        </button>
    </div>
</div>