@model CheckDrive.ApiContracts.OilMark.OilMarkDto

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="align-items-baseline" style="margin-top: 100px">O'chirish</h1>

<h3 style="color:grey;">
    Haqiqatan ham buni oʻchirib tashlamoqchimisiz?
    O'chirsangiz bu yoqilg'i turidan foydalangan barcha ma'lumotlar ham o'chiriladi!!!
</h3>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OilMark)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OilMark)
        </dd>
    </dl>
  
    <form asp-action="Delete">
        <div class="form-group">
            <a asp-action="Index" class="btn btn-outline-info">
                <i class="fa-solid fa-arrow-left-long"></i>
                Orqaga
            </a>
            <button asp-route-itemid="@Model.Id" class="btn btn-outline-danger">
                <i class="fa-solid fa-trash"></i>
                O'chirish
            </button>
        </div>
    </form>
</div>
