@model IEnumerable<CheckDrive.ApiContracts.OilMark.OilMarkDto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().Id) <!-- Ensure to access the model item for DisplayNameFor -->
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().OilMark) <!-- Ensure to access the model item for DisplayNameFor -->
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OilMark)
                </td>
                <td>
                    <div class="btn-group" role="group">
                        <a class="btn btn-outline-warning btn-sm" asp-action="Edit" asp-route-id="@item.Id">
                            Edit
                        </a>
                        <a class="btn btn-outline-info btn-sm" asp-action="Details" asp-route-id="@item.Id">
                            Details
                        </a>
                        <a class="btn btn-outline-danger btn-sm" asp-action="Delete" asp-route-id="@item.Id">
                            Delete
                        </a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
