@using CheckDrive.ApiContracts.OilMark
@model IEnumerable<CheckDrive.ApiContracts.OilMark.OilMarkDto>

@{
    ViewData["Title"] = "Index";
    // Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Yoqilg'i turlari</h1>
<div>
    <div class="d-flex flex-row-reverse">
        <button id="createoilBtn" class="btn btn-success">
            <i class="fa fa-plus"></i> Yaratish
        </button>
        <div id="createoilModal" class="modal" >
            <div class="modal-content  " style="height: 250px; width: 500px ">
                <span class="close">
                    <button class="btn btn-close "></button>
                </span>
                <partial name="Create" model="new OilMarkForCreateDto()" />
            </div>
        </div>
    </div>
</div>      


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().Id)
            </th>
            <th>
                Yoqilg'i nomi
            </th>
            <th>Amallar</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OilMark)
                </td>
                <td>
                    <div class="btn-group" role="group">
                        <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id" style="margin-right: 5px;">
                            <i class="fa fa-pencil"></i>
                        </a>
                        <a class="btn btn-danger " asp-action="Delete" asp-route-id="@item.Id">
                            <i class="bi bi-trash"></i>
                        </a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    // Elementlarni olish
    var modal = document.getElementById("createoilModal");
    var btn = document.getElementById("createoilBtn");
    var span = document.getElementsByClassName("close")[0];
    var form = document.getElementById("createForm");

    // Popupni ochish
    btn.onclick = function (event) {
        event.preventDefault(); // Sahifa yangilanishining oldini olish
        modal.style.display = "block";
    }
    // Popupni yopish faqat "X" tugmasi bosilganda
    span.onclick = function () {
        modal.style.display = "none";
    }
    // Formni submit qilganda sahifa yangilanishini oldini olish
    form.onsubmit = function (event) {
        event.preventDefault(); // Sahifa yangilanmasin
        alert("Form submit qilindi, lekin sahifa yangilanmaydi.");
    }
    // Modal ichidagi elementlarni bosganda event tarqalishining oldini olish
    modalContent.onclick = function (event) {
        event.stopPropagation(); // Modal ichida event tashqariga o'tmaydi
    }
    // Faqat tashqariga bosilganda modal yopilishi kerak
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>
