@model CheckDrive.ApiContracts.DispatcherReview.DispatcherReviewDto

@{
    ViewData["Title"] = "Details";
    Layout = null;
}

<div class="grid-container mt-3">
    <div class="row content">
        <div class="col text-center">
            Dispetcher F.I.SH
        </div>
        <div class="col text-center">
            Haydovchi F.I.SH
        </div>
    </div>
    <div class="row value">
        <div class="col text-center">
            @Model.DispatcherName
        </div>
        <div class="col text-center">
            @Model.DriverName
        </div>
    </div>
    <div class="row content">
        <div class="col text-center">
            Mexanik F.I.SH
        </div>
        <div class="col text-center">
            Operator F.I.SH
        </div>
    </div>
    <div class="row value">
        <div class="col text-center">
            @Model.MechanicName
        </div>
        <div class="col text-center">
            @Model.OperatorName
        </div>
    </div>
    <div class="row content">
        <div class="col text-center">
            Avtomobil
        </div>
        <div class="col text-center">
            O'rtacha yoqilg'i sarfi
        </div>
        <div class="col text-center">
            Operator quygan yoqilg'i
        </div>
    </div>
    <div class="row value">
        <div class="col text-center">
            @Model.CarName
        </div>
        <div class="col text-center">
            @Model.CarMeduimFuelConsumption
        </div>
        <div class="col text-center">
            @Model.PouredFuel
        </div>
    </div>
    <div class="row content">
        <div class="col text-center">
            Ro'yxatga olingan vaqt
        </div>
        <div class="col text-center">
            Bosib o'tilgan masofa
        </div>
        <div class="col text-center">
            Sarflangan yoqilg'i
        </div>
    </div>
    <div class="row value">
        <div class="col text-center">
            @(Model.Date.ToString("yyyy-MM-dd | HH:mm"))
        </div>
        <div class="col text-center">
            @Model.DistanceCovered
        </div>
        <div class="col text-center">
            @Model.FuelSpended
        </div>
    </div>
    <div class="row content">
        <div class="col text-center">
            Boshlang`ich yoqilg`i qoldig`i
        </div>
        <div class="col text-center">
            Yakuniy yoqilg`i qoldig`i
        </div>
    </div>
    <div class="row value">
        <div class="col text-center bottom-style">
            @Model.RemainigFuelBefore
        </div>
        <div class="col text-center bottom-style">
            @Model.RemainigFuelAfter
        </div>
    </div>
</div>