@model IEnumerable<CheckDrive.ApiContracts.DispatcherReview.DispatcherReviewDto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Dispetcher Xizmatlari</h1>

<form asp-controller="DispatcherReviews" asp-action="Index">
    <div class="row">
        <div class="d-flex justify-content-between">
            <!-- Search -->
            <div class="col-md-4 mb-4">
                <div class="input-group">
                    <input type="text" class="form-control rounded-left" placeholder="ishchilarni izlash..." name="searchString" value="@ViewBag.SearchString">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-primary">
                            <i class="fa fa-search"></i> Qidirish
                        </button>
                    </div>
                </div>
            </div> 
            <div class="col-md-4 mb-4 d-flex align-items-center">
                <input type="date" name="date" class="form-control me-2">
                <div class="dropdown">
                    <button class="btn btn-outline-info dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa-solid fa-download"></i> Yuklab olish
                    </button>
                    <div class="dropdown-menu p-3" id="dropdownMenu" aria-labelledby="dropdownMenuButton" data-bs-auto-close="outside">
                        <ejs-calendar id="calendar" change="valueChange" Start="Year" Depth="Year"></ejs-calendar>
                        <a class="dropdown-item mt-2 btn btn-info" href="#" id="downloadButton">Yuklash</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="row">
    <div class="col-12">
        <ejs-grid id="dispatcherReview-list" dataSource="@ViewBag.DispatcherReviews" gridLines="Vertical" allowSorting="true" dataBound="onDataBound">
            <e-grid-columns>
                <e-grid-column headerText="Id" field="Id" typeof="text" template="#dispatcherTemplate" width="50"></e-grid-column>
                <e-grid-column headerText="Haydovchi F.I.SH" field="DriverName" typeof="text" width="150"></e-grid-column>
                <e-grid-column headerText="Marka" field="CarName" typeof="text" width="100"></e-grid-column>
                <e-grid-column headerText="Meyori" field="CarMeduimFuelConsumption" typeof="number" width="150"></e-grid-column>
                <e-grid-column headerText="Bosib o'tilgan masofa" field="DistanceCovered" typeof="number" width="150"></e-grid-column>
                <e-grid-column headerText="Sarflangan Yoqilg'i" field="FuelSpended" typeof="number" width="150"></e-grid-column>
                <e-grid-column headerText="Dispetcher F.I.SH" field="DispatcherName" typeof="text" width="150"></e-grid-column>
                <e-grid-column headerText="Mexanik F.I.SH" field="MechanicName" typeof="text" width="150"></e-grid-column>
                <e-grid-column headerText="Operator F.I.SH" field="OperatorName" typeof="text" width="150"></e-grid-column>
                <e-grid-column headerText="Ro'yxatga olingan vaqt" field="Date" type="date" format="dd-MM-yyyy  |  HH:mm" width="150"></e-grid-column>
            </e-grid-columns>
        </ejs-grid>
    </div>
</div>

<div class="d-flex justify-content-between align-items-center my-3">
    <nav aria-label="Page navigation">
        <ul class="pagination">
            @if (ViewBag.HasPreviousPage)
            {
                <li class="page-item">
                    <a class="page-link" href="@Url.Action("Index", new { pageNumber = 1 })" aria-label="First">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="@Url.Action("Index", new { pageNumber = ViewBag.CurrentPage - 1 })">@(@ViewBag.CurrentPage - 1)</a>
                </li>
            }
            @if (ViewBag.HasNextPage)
            {
                <li class="page-item active">
                    <span class="page-link">@ViewBag.CurrentPage</span>
                </li>
                <li class="page-item">
                    <a class="page-link" href="@Url.Action("Index", new { pageNumber = ViewBag.CurrentPage + 1 })">@(@ViewBag.CurrentPage + 1)</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="@Url.Action("Index", new { pageNumber = ViewBag.PageCount })" aria-label="Last">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            }
        </ul>
    </nav>
    <div class="p-2">
        <p class="h6 mb-0">@ViewBag.PageCount sahifadan @ViewBag.CurrentPage tasi  ( umumiy dispetcherlar amallari soni: @ViewBag.TotalCount)</p>
    </div>
</div>

<script id="dispatcherTemplate" type="text/x-template">
    <div>
        <a rel='nofollow' href="#" class="detail-link" data-id="${Id}">${Id}</a>
    </div>
</script>

<div class="modal fade" id="dispatcherDetailsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body" id="dispatcherDetailsContent">
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        document.addEventListener('click', function (e) {
            if (e.target.classList.contains('detail-link')) {
                e.preventDefault();
                const id = e.target.getAttribute('data-id');

                $.ajax({
                    url: `/DispatcherReviews/Details/${id}`,
                    type: 'GET',
                    success: function (data) {
                        $('#dispatcherDetailsContent').html(data);
                        $('#dispatcherDetailsModal').modal({
                            backdrop: 'static',
                            keyboard: false
                        }).modal('show');
                    },
                    error: function () {
                        $('#dispatcherDetailsContent').html('<p>Error loading details</p>');
                    }
                });
            }
        });
    });
</script>

<script>
    let selectedYear = new Date().getFullYear();
    let selectedMonth = new Date().getMonth() + 1;

    function valueChange(args) {
        var selectedDate = args.value;
        selectedYear = selectedDate.getFullYear();
        selectedMonth = selectedDate.getMonth() + 1;

        document.getElementById('date_label').textContent = 'Выбранное значение: ' + selectedDate.toDateString();
    }

    document.getElementById('dropdownMenu').addEventListener('click', function (event) {
        event.stopPropagation();
    });

    document.getElementById('downloadButton').addEventListener('click', function (e) {
        e.preventDefault();

        const url = `/DispatcherReviews/Download?year=${selectedYear}&month=${selectedMonth}`;

        const link = document.createElement('a');
        link.href = url;
        link.setAttribute('download', '');
        document.body.appendChild(link);
        link.click();
        document.body.removeChild(link);

        const dropdown = bootstrap.Dropdown.getInstance(document.getElementById('dropdownMenuButton'));
        dropdown.hide();
    });

    function onDataBound() {
        const headers = document.querySelectorAll('#dispatcherReview-list .e-headercell');

        headers.forEach(header => {
            header.setAttribute('title', header.innerText.trim());
        });
    }
</script>