@model IEnumerable<CheckDrive.ApiContracts.DispatcherReview.DispatcherReviewDto>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.0/font/bootstrap-icons.min.css">

@{
    ViewData["Title"] = "PersonalIndex";
    Layout = "~/Views/Shared/_PersonalLayout.cshtml";
}
<div class="container-fluid py-2 px-4 d-flex justify-content-end">
    <div class="d-flex align-items-center">
        <div class="dropdown">
            <button class="btn btn-secondary" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="background-color: white; border-color: black;">
                <i class="fa-solid fa-user" style="background-color: white; color: black;"></i>
                <i class="bi bi-caret-down-fill" style="background-color:white; color:black"></i>
            </button>
            <ul class="dropdown-menu" aria-labelledby="userDropdown">
                <li><a class="dropdown-item" style="color: red" href="@Url.Action("Login", "Auth")">Profildan Chiqish</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="container mt-5" style="max-width: 100%;">
    <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover paper-shadow" style="width: 100%;">
            <thead>
                <tr>
                    <th class="text-center vertical-align-middle" style="min-width: 150px;">Haydovchi F.I.</th>
                    <th class="text-center vertical-align-middle" style="min-width: 150px;">Moshina</th>
                    <th class="text-center vertical-align-middle" style="min-width: 200px;">O`rtacha Yoqilg`i</th>
                    <th class="text-center vertical-align-middle" style="min-width: 150px;">Masofa</th>
                    <th class="text-center vertical-align-middle" style="min-width: 150px;">Boshlang`ich</th>
                    <th class="text-center vertical-align-middle" style="min-width: 150px;">Yakuniy</th>
                    <th class="text-center vertical-align-middle" style="min-width: 150px;">Sarf</th>
                    <th class="text-center vertical-align-middle" style="min-width: 150px;">Quyilgan yoqilg`i</th>
                    <th class="text-center vertical-align-middle" style="min-width: 150px;">Operator F.I.</th>
                    <th class="text-center vertical-align-middle" style="min-width: 150px;">Mexanik F.I.</th>
                    <th class="text-center vertical-align-middle" style="min-width: 150px;">Sana</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var review in Model)
                {
                    <tr>
                        <td class="text-center vertical-align-middle">@review.DriverName</td>
                        <td class="text-center vertical-align-middle">@review.CarName</td>
                        <td class="text-center vertical-align-middle">@review.CarMeduimFuelConsumption</td>
                        <td class="text-center vertical-align-middle">
                            @if (!string.IsNullOrEmpty(review.DispatcherName))
                            {
                                @review.DistanceCovered;
                            }
                            else
                            {
                                <a href="@Url.Action("Create", new {distanceCovered = review.DistanceCovered, fuelSpended = review.FuelSpended, operatorId = review.OperatorId, mechanicId = review.MechanicId, driverId = review.DriverId, mechanicHandoverId = review.MechanicHandoverId, mechanicAcceptanceId = review.MechanicAcceptanceId, carId = review.CarId, operatorReviewId = review.OperatorReviewId })">
                                    @review.DistanceCovered
                                </a>
                            }
                        </td>
                        <td class="text-center vertical-align-middle">@review.InitialDistance</td>
                        <td class="text-center vertical-align-middle">@review.FinalDistance</td>
                        <td class="text-center vertical-align-middle">
                            @if (!string.IsNullOrEmpty(review.DispatcherName))
                            {
                                @review.FuelSpended;
                            }
                            else
                            {
                                <a href="@Url.Action("Create", new {distanceCovered = review.DistanceCovered, fuelSpended = review.FuelSpended, operatorId = review.OperatorId, mechanicId = review.MechanicId, driverId = review.DriverId, mechanicHandoverId = review.MechanicHandoverId, mechanicAcceptanceId = review.MechanicAcceptanceId, carId = review.CarId, operatorReviewId = review.OperatorReviewId })">
                                    @review.FuelSpended
                                </a>
                            }
                        </td>
                        <td class="text-center vertical-align-middle">@review.PouredFuel</td>
                        <td class="text-center vertical-align-middle">@review.OperatorName</td>
                        <td class="text-center vertical-align-middle">@review.MechanicName</td>
                        <td class="text-center vertical-align-middle">@review.Date</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<style>
    .badge {
        font-size: 0.8rem;
        padding: 5px 10px;
        border-radius: 5px;
    }

    .bg-success {
        background-color: #28a745;
    }

    .bg-danger {
        background-color: #dc3545;
    }

    .bg-secondary {
        background-color: #6c757d;
    }

    .container {
        margin-top: 30px;
        max-width: 100%;
    }

    .table-bordered {
        border: 1px solid #dee2e6;
    }

        .table-bordered th,
        .table-bordered td {
            border: 1px solid #dee2e6;
        }

    .paper-shadow {
        background: white;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
    }

    .pagination {
        justify-content: flex-end;
    }

    .shadow {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .pagination .page-link {
        margin-left: 5px;
    }

    .pagination .page-item.shadow {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .vertical-align-middle {
        vertical-align: middle !important;
    }
</style>
