@model IEnumerable<CheckDrive.ApiContracts.DispatcherReview.DispatcherReviewDto>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.0/font/bootstrap-icons.min.css">


@{
    ViewData["Title"] = "PersonalIndex";
    Layout = "~/Views/Shared/_PersonalLayout.cshtml";
}

<h1 class="text-center">Dispetcher oynasi</h1>

<div class="row justify-content-center">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover paper-shadow">
                <thead>
                    <tr>
                        <th class="text-center vertical-align-middle">DriverName</th>
                        <th class="text-center vertical-align-middle">CarName</th>
                        <th class="text-center vertical-align-middle">CarMeduimFuelConsumption</th>
                        <th class="text-center vertical-align-middle">DistanceCovered</th>
                        <th class="text-center vertical-align-middle">InitialDistance</th>
                        <th class="text-center vertical-align-middle">FinalDistance</th>
                        <th class="text-center vertical-align-middle">PouredFuel</th>
                        <th class="text-center vertical-align-middle">OperatorName</th>
                        <th class="text-center vertical-align-middle">DispatcherName</th>
                        <th class="text-center vertical-align-middle">MechanicName</th>
                        <th class="text-center vertical-align-middle">Date</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var review in Model)
                    {
                        <tr>
                            <td class="text-center vertical-align-middle">@review.DriverName</td>
                            <td class="text-center vertical-align-middle">@review.CarName</td>
                            <td class="text-center vertical-align-middle">@review.CarMeduimFuelConsumption</td>
                            <td class="text-center vertical-align-middle">@review.DistanceCovered</td>
                            <td class="text-center vertical-align-middle">@review.InitialDistance</td>
                            <td class="text-center vertical-align-middle">@review.FinalDistance</td>
                            <td class="text-center vertical-align-middle">@review.PouredFuel</td>
                            <td class="text-center vertical-align-middle">@review.OperatorName</td>
                            <td class="text-center vertical-align-middle">@review.DispatcherName</td>
                            <td class="text-center vertical-align-middle">@review.MechanicName</td>
                            <td class="text-center vertical-align-middle">@review.Date</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>