@model CheckDrive.ApiContracts.MechanicHandover.MechanicHandoverForCreateDto

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_PersonalLayout.cshtml";
    bool noDriversAvailable = ViewBag.Drivers == null || !((IEnumerable<SelectListItem>)ViewBag.Drivers).Any();
    bool noCarsAvailable = ViewBag.Cars == null || !((IEnumerable<SelectListItem>)ViewBag.Cars).Any();
}
<form id="mechanicHandoverForm" asp-action="Create" method="post">
    <div class="row mt-custom" style="width:580px">
        <div class="col-md-4 offset-md-1 mt-1" style="width:580px">
        @if (noDriversAvailable)
        {
            <div class="alert alert-warning">
                <strong>Diqqat!</strong> Hozirda mavjud haydovchilar yo'q. Iltimos, keyinroq qayta urinib ko'ring.
            </div>
        }

            <fieldset @(noDriversAvailable ? "disabled" : "")>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group w-50 mt-3">
                    <label asp-for="DriverId" class="control-label mt-2">Haydovchi</label>
                    @if (ViewBag.SelectedDriverId != null && ViewBag.SelectedDriverId != 0)
                    {
                        <input type="text" class="form-control" value="@ViewBag.SelectedDriverName" disabled />
                        <input type="hidden" asp-for="DriverId" value="@ViewBag.SelectedDriverId" />
                    }
                    else
                    {
                        @if (noDriversAvailable)
                        {
                            <select id="driverIdDropdown" class="form-control border border-dark" disabled>
                                <option selected>Haydovchilar mavjud emas</option>
                            </select>
                        }
                        else
                        {
                            <select asp-for="DriverId" id="driverIdDropdown" class="form-control form-select border border-dark" asp-items="@ViewBag.Drivers">
                                <option value="" selected>Haydovchini tanlang</option>
                            </select>
                        }
                    }
                </div>
                <div class="form-group w-50 mt-3">
                    <input type="hidden" asp-for="MechanicId" class="form-control border border-dark d-none" />
                </div>
                <div class="form-group w-50 mt-3">
                    <label asp-for="CarId" class="control-label mt-2">Mashina</label>
                    @if (noCarsAvailable)
                    {
                        <select id="carIdDropdown" class="form-control border border-dark" disabled>
                            <option selected>Mashinalar mavjud emas</option>
                        </select>
                    }
                    else
                    {
                        <select asp-for="CarId" id="carIdDropdown" class="form-control border border-dark form-select" asp-items="@ViewBag.Cars">
                            <option value="" selected>Avtomobil tanlang</option>
                        </select>
                    }
                </div>

                <div class="form-check form-switch mt-3">
                    <input asp-for="IsHanded" class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                    <label asp-for="IsHanded" class="form-check-label" for="flexSwitchCheckDefault">Topshirish</label>
                </div>

                <!-- Оборачиваем поле Distance в контейнер -->
                <div id="distanceInputContainer" class="form-group w-50 mt-3" style="display: none;">
                    <label asp-for="Distance" class="control-label mt-2">Boshlang'ich masofasi</label>
                    <input asp-for="Distance" class="form-control" type="number" min="0" step="1" />
                    <span asp-validation-for="Distance" class="text-danger"></span>
                </div>

                <div class="form-group w-50 mt-3">
                    <label asp-for="RemainingFuel" class="control-label mt-2">Yoqilg`i qoldig`i</label>
                    <input asp-for="RemainingFuel" class="form-control" type="number" min="0" step="1" disabled />
                    <span asp-validation-for="RemainingFuel" class="text-danger"></span>
                </div>
                <div class="form-group w-50 mt-3">
                    <label asp-for="Comments" class="control-label mt-2">Izoh</label>
                    <textarea asp-for="Comments" class="form-control" rows="4"></textarea>
                </div>
            </fieldset>

            <div class="form-group justify-content-center d-flex w-50 mt-3">
                <button style="width:150px" class="btn btn-success" type="submit" id="submitButton" @(noDriversAvailable ? "disabled" : "")>
                    Saqlash
                </button>
            </div>
        </div>
    </div>
</form>


 @section Scripts {
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function () {
            var form = document.getElementById('mechanicHandoverForm');
            var checkbox = document.getElementById('flexSwitchCheckDefault');
            var checkboxLabel = document.querySelector('label[for="flexSwitchCheckDefault"]');
            var carDropdown = document.getElementById('carIdDropdown');
            var distanceInputContainer = document.getElementById('distanceInputContainer');
            var distanceInput = document.querySelector('input[name="Distance"]');
            var fuelInput = document.querySelector('input[name="RemainingFuel"]');
            var mileage = 0;

            function toggleCheckboxHighlight() {
                if (checkbox.checked) {
                    checkbox.classList.remove('border-danger');
                    checkboxLabel.classList.remove('text-danger');
                    distanceInputContainer.style.display = 'block'; 
                } else {
                    checkbox.classList.add('border-danger');
                    checkboxLabel.classList.add('text-danger');
                    distanceInputContainer.style.display = 'none'; 
                }
            }

            toggleCheckboxHighlight();
            checkbox.addEventListener('change', toggleCheckboxHighlight);

            carDropdown.addEventListener('change', function () {
                var selectedCarId = carDropdown.value;
                if (selectedCarId) {
                    fetch(`/MechanicHandovers/GetCarDetails?carId=${selectedCarId}`)
                        .then(response => response.json())
                        .then(data => {
                            if (data && data.mileage !== undefined) {
                                mileage = data.mileage;
                                distanceInput.value = mileage;
                                distanceInput.setAttribute('min', mileage);
                            }
                            if (data && data.remainingFuel !== undefined) {
                                fuelInput.value = data.remainingFuel;
                            }
                        })
                        .catch(error => console.error('Error fetching car details:', error));
                }
            });

            form.addEventListener('submit', function (event) {
                var distanceValue = Number(distanceInput.value);
                var isGiven = checkbox.checked;

                if (distanceValue < mileage) {
                    event.preventDefault();
                    alert("Masofa mashinaning mavjud yurgan masofasidan kam bo'lishi mumkin emas!");
                } else if (distanceValue === 0 && isGiven) {
                    event.preventDefault();
                    alert("Boshlang'ich masofani kiritishingiz shart!");
                }
            });
        });
    </script>
} 

<style>
    .border-danger {
        border-color: red !important;
        background-color: #f8d7da !important;
    }

    .text-danger {
        color: red !important;
    }

    fieldset[disabled] .form-control,
    fieldset[disabled] .btn {
        background-color: #e9ecef;
        cursor: not-allowed;
    }

        fieldset[disabled] .form-control:disabled,
        fieldset[disabled] .btn:disabled {
            opacity: 1;
        }
</style>
