@using CheckDrive.ApiContracts
@model CheckDrive.ApiContracts.MechanicHandover.MechanicHandoverDto

@{
    ViewData["Title"] = "Details";
    Layout = null;
}

<div>
    <h4 class="text-center">Mexanik (Topshirish) ma'lumotari</h4>
    <div class="grid-container mt-3">
        <div class="row content">
            <div class="col text-center">
                Mexanik F.I.SH
            </div>
            <div class="col text-center">
                Haydovchi F.I.SH
            </div>
        </div>
        <div class="row value">
            <div class="col text-center">
                @Model.MechanicName
            </div>
            <div class="col text-center">
                @Model.DriverName
            </div>
        </div>
        <div class="row content">
            <div class="col text-center">
                Avtomobil
            </div>
            <div class="col text-center">
                Topshirish
            </div>
            <div class="col text-center">
                Topshirish masofasi
            </div>
        </div>
        <div class="row value">
            <div class="col text-center">
                @Model.CarName
            </div>
            <div class="col text-center">
                @(Model.IsHanded.HasValue ? (Model.IsHanded.Value ? "Topshirildi" : "Topshirilmadi") : "N/A")
            </div>
            <div class="col text-center">
                @Model.Distance
            </div>
        </div>
        <div class="row content">
            <div class="col text-center">
                Yoqilg'i qoldig'i
            </div>
            <div class="col text-center">
                Sana va vaqt
            </div>
            <div class="col text-center">
                Holati
            </div>
        </div>
        <div class="row value">
            <div class="col text-center">
                @Model.RemainingFuel
            </div>
            <div class="col text-center">
                @(Model.Date.ToString("yyyy-MM-dd | HH:mm"))
            </div>
            <div class="col text-center">
                @{
                    string status = Model.Status switch
                    {
                        StatusForDto.Pending => "Kutilmoqda",
                        StatusForDto.Completed => "Yakunlangan",
                        StatusForDto.Rejected => "Rad etilgan",
                        StatusForDto.Unassigned => "Tayinlanmagan",
                        StatusForDto.RejectedByDriver => "Haydovchi tomonidan rad etilgan",
                        _ => "Noma'lum"
                    };
                }
                @status
            </div>
        </div>
        <div class="row content">
            <div class="col text-center">
                Izoh
            </div>
        </div>
        <div class="row comments">
            <div class="col text-center">
                @if (string.IsNullOrWhiteSpace(Model.Comments))
                {
                    Model.Comments = "Izoh mavjud emas";
                }
                @Model.Comments
            </div>
        </div>
    </div>
</div>

<div class="d-flex justify-content-center mt-5">
    <div class="d-grid w-50">
        <a asp-action="Index" class="btn btn-outline-white border border-secondary rounded">
            Yopish
        </a>
    </div>
</div>
