@model CheckDrive.ApiContracts.MechanicHandover.MechanicHandoverDto

@{
    ViewData["Title"] = "Details";
}

<div>
    <h4>Mexanik (Topshirish) ma'lumotari</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Mexanik F.I.SH:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MechanicName)
        </dd>
        <dt class="col-sm-2">
            Haydovchi F.I.SH:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DriverName)
        </dd>
        <dt class="col-sm-2">
            Avtomobil:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CarName)
        </dd>
        <dt class="col-sm-2">
            Topshirish:
        </dt>
        <dd class = "col-sm-10">
            @(Model.IsHanded.HasValue ? (Model.IsHanded.Value ? "Topshirildi" : "Topshirilmadi"): "N/A")
        </dd>
        <dt class="col-sm-2">
            Topshirish masofasi:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Distance)
        </dd>
        <dt class="col-sm-2">
            Vaqt:
        </dt>
        <dd class="col-sm-10">
            @(Model.Date.ToString("yyyy-MM-dd | HH:mm"))
        </dd>
        <dt class = "col-sm-2">
            Izoh:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comments)
        </dd>
        <dt class="col-sm-2">
            Holati:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>
</div>
<div class="mt-4">
    <a asp-action="Index" class="btn btn-outline-info">
        <i class="fa-solid fa-arrow-left"></i>
        Orqaga
    </a>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-outline-warning">
        <i class="fa-solid fa-pen"></i>
        Tahrirlash
    </a>
    <a asp-action="Delete" asp-route-id="@Model?.Id" class="btn btn-outline-danger">
        <i class="fa-solid fa-trash"></i>
        O'chirish
    </a>
</div>
