@model CheckDrive.ApiContracts.DoctorReview.DoctorReviewForCreateDto

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_PersonalLayout.cshtml";
}

<div class="row mt-custom">
    <div class="col-md-4 offset-md-1 mt-5">
        <h4>Ro`yxatga olish</h4>
        <hr class="w-50" />
        <form id="doctorReviewForm" asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group w-50 mt-3">
                <label asp-for="DriverId">Haydovchi F.I.</label>
                @if (ViewBag.SelectedDriverId != null && ViewBag.SelectedDriverId != 0)
                {
                    <select class="form-control border border-dark" disabled>
                        <option value="@ViewBag.SelectedDriverId" selected="selected">@ViewBag.SelectedDriverName</option>
                    </select>
                    <input type="hidden" asp-for="DriverId" value="@ViewBag.SelectedDriverId" />
                }
                else
                {
                    @if (ViewBag.Drivers == null || !((IEnumerable<SelectListItem>)ViewBag.Drivers).Any())
                    {
                        <select class="form-control border border-dark" disabled>
                            <option selected>There are no available drivers</option>
                        </select>
                    }
                    else
                    {
                        <select asp-for="DriverId" class="form-control border border-dark" asp-items="@ViewBag.Drivers"></select>
                    }
                }
            </div>
            <div class="form-check form-switch mt-3">
                <input asp-for="IsHealthy" class="form-check-input is-invalid" type="checkbox" role="switch" id="flexSwitchCheckDefault" value="true">
                <label asp-for="IsHealthy" class="form-check-label" for="flexSwitchCheckDefault">Sog`ligi</label>
                <div id="checkboxError" class="text-danger mt-2"></div>
            </div>
            <div class="form-group w-50">
                <select asp-for="DoctorId" class="form-control border border-dark d-none" asp-items="@ViewBag.Doctors"></select>
                <input type="hidden" asp-for="DoctorId" value="@ViewBag.DoctorId" />
            </div>
            <div class="form-group w-50 mt-3">
                <label asp-for="Comments" for="exampleFormControlTextarea1">Izoh</label>
                <textarea asp-for="Comments" class="form-control" rows="4"></textarea>
            </div>
            <div class="form-group mt-3 w-50 mt-3">
                <a asp-action="PersonalIndex" class="btn btn-outline-info">
                    <i class="fa-solid fa-arrow-left-long"></i> Orqaga
                </a>
                <button class="btn btn-success" type="submit">
                    <i class="fa fa-plus"></i> Yaratish
                </button>
            </div>
        </form>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var form = document.getElementById('doctorReviewForm');
        var checkbox = document.getElementById('flexSwitchCheckDefault');
        var checkboxError = document.getElementById('checkboxError');

        // Check initially if the checkbox is not checked
        if (!checkbox.checked) {
            checkbox.classList.add('is-invalid');
            checkboxError.classList.remove('d-none');
        }

        form.addEventListener('submit', function (event) {
            if (!checkbox.checked) {
                event.preventDefault();  // Prevent form submission
                checkbox.classList.add('is-invalid');  // Add invalid class
                checkboxError.classList.remove('d-none');  // Show error message
            } else {
                checkbox.classList.remove('is-invalid');  // Remove invalid class
                checkboxError.classList.add('d-none');  // Hide error message
            }
        });

        // Remove invalid class and error message when checkbox is checked
        checkbox.addEventListener('change', function () {
            if (checkbox.checked) {
                checkbox.classList.remove('is-invalid');
                checkboxError.classList.add('d-none');
            } else {
                checkbox.classList.add('is-invalid');
                checkboxError.classList.remove('d-none');
            }
        });
    });
</script>

<style>
    .is-invalid {
        border-color: red !important;
        background-color: #f8d7da !important;
    }
</style>
