@using CheckDrive.ApiContracts
@model CheckDrive.ApiContracts.OperatorReview.OperatorReviewDto

@{
    ViewData["Title"] = "Details";
    Layout = null;
}


<div class="grid-container mt-3">
    <div class="row content">
        <div class="col text-center">
            Operator F.I.SH
        </div>
        <div class="col text-center">
            Haydovchi F.I.SH
        </div>
    </div>
    <div class="row value">
        <div class="col text-center">
            @Model.OperatorName
        </div>
        <div class="col text-center">
            @Model.DriverName
        </div>
    </div>
    <div class="row content">
        <div class="col text-center">
            Avtomobil
        </div>
        <div class="col text-center">
            Davlat raqami
        </div>
    </div>
    <div class="row value">
        <div class="col text-center">
            @Model.CarModel
        </div>
        <div class="col text-center">
            @Model.CarNumber
        </div>
    </div>
    <div class="row content">
        <div class="col text-center">
            Avtomobil yoqilg'i sig'imi
        </div>
        <div class="col text-center">
            Holati
        </div>
    </div>
    <div class="row value">
        <div class="col text-center">
            @Model.CarOilCapacity
        </div>
        <div class="col text-center">
            @{
                string status = Model.Status switch
                {
                    StatusForDto.Pending => "Kutilmoqda",
                    StatusForDto.Completed => "Yakunlangan",
                    StatusForDto.Rejected => "Rad etilgan",
                    StatusForDto.Unassigned => "Tayinlanmagan",
                    StatusForDto.RejectedByDriver => "Haydovchi tomonidan rad etilgan",
                    _ => "Noma'lum"
                };
            }
            @status
        </div>
    </div>
    <div class="row content">
        <div class="col text-center">
            Yoqilg'i quyish
        </div>
        <div class="col text-center">
            Yoqilg'i miqdori
        </div>
        <div class="col text-center">
            Yoqilg'i markasi
        </div>
    </div>
    <div class="row value">
        <div class="col text-center">
            @(Model.IsGiven.HasValue ? (Model.IsGiven.Value ? "Quyildi" : "Quyilmadi") : "N/A")
        </div>
        <div class="col text-center">
            @Model.OilAmount
        </div>
        <div class="col text-center">
            @Model.OilMarks
        </div>
    </div>
    <div class="row content">
        <div class="col text-center">
            Izoh
        </div>
    </div>
    <div class="row comments">
        <div class="col text-center">
            @if (string.IsNullOrWhiteSpace(Model.Comments))
            {
                Model.Comments = "Izoh mavjud emas";
            }
            @Model.Comments
        </div>
    </div>
</div>