@model CheckDrive.Web.ViewModels.Dashboard.DashboardViewModel;

@{
    ViewData["Title"] = "Asosiy";
}

<div class="row mb-4">
    <div class="col-md-4">
        <div class="d-flex flex-row widget summary car " data-bs-toggle="tooltip" data-bs-placement="top">
            <div class="icon-container p-5 car-widget">
                <i class="fa-solid fa-car fa-2xl"></i>
            </div>
            <div class="d-flex flex-column m-auto py-3" id="revenueContainer" onclick="toggleRevenue()">
                <span class="lead fw-bold">Bo'sh</span>
                <h1 class="display-6 fw-bold">@Model.CarsSummary.FreeCarsCount</h1>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="d-flex flex-row widget summary driver">
            <div class="icon-container p-5 car-widget">
                <i class="fa-solid fa-screwdriver-wrench fa-2xl"></i>
            </div>
            <div class="d-flex flex-column m-auto py-3">
                <span class="lead fw-bold">Ta'mirda</span>
                <h1 class="display-6 fw-bold">@Model.CarsSummary.OutOfServiceCarsCount</h1>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="d-flex flex-row widget summary oil">
            <div class="icon-container p-5 car-widget">
                <i class="fa-solid fa-car-side fa-2xl"></i>
            </div>
            <div class="d-flex flex-column m-auto py-3">
                <span class="lead fw-bold">Yo'lda</span>
                <h1 class="display-6 fw-bold">@Model.CarsSummary.BusyCarsCount</h1>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="widget chart">
            <div class="p-4">
                <h5 class="fw-bold">Yoqilg'i sarfi</h5>
            </div>
            <ejs-chart id="spline-chart" 
                       background="white"
                       palettes="@(new string[]{ "#F24A38","#1374D6","#1DB413","#ffe91a","#9547C7" })">
                <e-chart-primaryxaxis valueType="Category">
                    <e-majorgridlines width="0"></e-majorgridlines>
                </e-chart-primaryxaxis>
                <e-chart-primaryyaxis labelFormat="{value} litr">
                    <e-linestyle width="0"></e-linestyle>
                    <e-majorticklines width="0"></e-majorticklines>
                    <e-minorticklines width="0"></e-minorticklines>
                </e-chart-primaryyaxis>
                <e-chart-chartarea>
                    <e-chartarea-border width="0"></e-chartarea-border>
                </e-chart-chartarea>
                <e-series-collection>
                    <e-series dataSource="@Model.OilConsumptionSummaries" xName="Month" width="3"
                              yName="Ai80" name="Ai80" type="Spline"></e-series>
                    <e-series dataSource="@Model.OilConsumptionSummaries" xName="Month" width="3"
                              yName="Ai91" name="Ai91" type="Spline"></e-series>
                    <e-series dataSource="@Model.OilConsumptionSummaries" xName="Month" width="3"
                              yName="Ai92" name="Ai92" type="Spline"></e-series>
                    <e-series dataSource="@Model.OilConsumptionSummaries" xName="Month" width="3"
                              yName="Ai95" name="Ai95" type="Spline"></e-series>
                    <e-series dataSource="@Model.OilConsumptionSummaries" xName="Month" width="3"
                              yName="Diesel" name="Diesel" type="Spline"></e-series>
                </e-series-collection>
                <e-chart-legendsettings position="Top" alignment="Far" toggleVisibility="false">
                    <e-legendsettings-textstyle color="#0f0f0f" size="1rem"></e-legendsettings-textstyle>
                </e-chart-legendsettings>
                <e-chart-tooltipsettings enable shared></e-chart-tooltipsettings>
            </ejs-chart>
        </div>
    </div>
</div>

<div class="row mt-3">
    <div class="col-md-4">
        <div class="widget chart">
            <div class="p-4">
                <h5 class="fw-bold">Kasblar bo'yicha ishchilar soni</h5>
            </div>
            <ejs-accumulationchart id="doughnutchart" enableSmartLabels background="white">
                <e-accumulation-series-collection>
                    <e-accumulation-series dataSource="@Model.EmployeeSummaries"
                                           xName="Role" yName="EmployeesCount"
                                           innerRadius="60%" legendShape="Circle"
                                           palettes=@(new string[]{ "#D35400","#3498DB","#27AE60","#1ABC9C","#8E44AD","#F39C12" })>
                        <e-accumulationseries-datalabel name="formattedAmount" visible>
                        </e-accumulationseries-datalabel>
                    </e-accumulation-series>
                </e-accumulation-series-collection>

                <e-accumulationchart-legendsettings position="Top" toggleVisibility="true">
                    <e-legendsettings-textstyle color="#0f0f0f" size="1.2rem"></e-legendsettings-textstyle>
                </e-accumulationchart-legendsettings>
                <e-accumulationchart-tooltipsettings enable></e-accumulationchart-tooltipsettings>
            </ejs-accumulationchart>
        </div>
    </div>

    <div class="col-md-8">
        <div>
            <ejs-grid id="resent-checkpoints"
                      allowPaging="true"
                      allowSorting="true"
                      dataSource="@Model.CheckPointSummaries"
                      gridLines="Both">
                <e-grid-pagesettings pageSize="15"></e-grid-pagesettings>
                <e-grid-columns>
                    <e-grid-column headerText="Id" field="Id" template="#navigationColumnTemplate" textAlign=Center headerTextAlign=Center width="20"></e-grid-column>
                    <e-grid-column headerText="Boshlangan vaqt" field="StartDate" textAlign=Center headerTextAlign=Center width="100"></e-grid-column>
                    <e-grid-column headerText="Haydovchi" field="DriverName" textAlign=Center headerTextAlign=Center width="100"></e-grid-column>
                    <e-grid-column headerText="Mashina" field="Car" textAlign=Center headerTextAlign=Center width="80"></e-grid-column>
                    <e-grid-column headerText="Bosqich" template="#stageColumnTemplate" textAlign=Center headerTextAlign=Center width="100"></e-grid-column>
                    <e-grid-column headerText="Status" field="Status" template="#statusColumnTemplate" textAlign=Center headerTextAlign=Center width="130"></e-grid-column>
                </e-grid-columns>
            </ejs-grid>
        </div>
    </div>
</div>

<script id="navigationColumnTemplate" type="text/x-template">
     <div>
        <a rel="nofollow" href="checkpoint/index/${Id}">${Id}</a>
    </div>
</script>

<script id="stageColumnTemplate" type="text/x-template">
    ${if(Stage == 0)}
        <span class="badge bg-primary">Shifokor tekshiruvi</span>
    ${else if(Stage == 1)}
        <span class="badge bg-primary">Mexanik (Topshirish)</span>
    ${else if(Stage== 2)}
        <span class="badge bg-primary">Operator tekshiruvi</span>
    ${else if(Stage == 3)}
        <span class="badge bg-primary">Mexanik (Qabul qilish)</span>
    ${else if(Stage == 4)}
        <span class="badge bg-primary">Dispatcher tekshiruvi</span>
    ${else}
        <span class="badge bg-primary">Menejer tekshiruvi</span>
    ${/if}
</script>

<script id="statusColumnTemplate" type="text/x-template">
    ${if(Status == 0)}
        <span class="badge bg-warning">Jarayonda</span>
    ${else if(Status == 1)}
        <span class="badge bg-success">Yakunlangan</span>
    ${else if(Status== 2)}
        <span class="badge bg-danger">To'xtatilgan</span>
    ${else if(Status == 3)}
        <span class="badge bg-danger">Uzilgan</span>
    ${/if}
</script>
