@model CheckDrive.ApiContracts.MechanicAcceptance.MechanicAcceptanceForCreateDto

@{
    ViewData["Title"] = "CreateByLink";
    Layout = "~/Views/Shared/_PersonalLayout.cshtml";
}

<div class="row mt-custom">
    <div class="col-md-4 offset-md-1 mt-5">
        <h4>Ro'yxatga olish</h4>
        <hr class="w-50" />

        <form asp-action="Create" method="post" id="createFormByLink">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group w-50 mt-2">
                <label class="control-label mt-2">Haydovchi</label>
                <input type="text" class="form-control" value="@ViewBag.DriverName" disabled />
                <input type="hidden" asp-for="DriverId" value="@ViewBag.DriverId" />
            </div>

            <div class="form-group w-50">
                <input type="hidden" asp-for="MechanicId" value="@ViewBag.MechanicId" />
            </div>

            <div class="form-group w-50 mt-2">
                <label class="control-label mt-2">Mashina</label>
                <input type="text" class="form-control" value="@ViewBag.CarName" disabled />
                <input type="hidden" asp-for="CarId" value="@ViewBag.CarId" />
            </div>

            <input type="hidden" id="Mileage" value="@ViewBag.Mileage" />

            <div class="form-check form-switch mt-3">
                <input asp-for="IsAccepted" class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                <label asp-for="IsAccepted" class="form-check-label" for="flexSwitchCheckDefault">Soz?</label>
            </div>

            <div class="form-group w-50 mt-2" id="distanceFieldGroup">
                <label asp-for="Distance" class="control-label mt-2">Qabul qilish masofasi</label>
                <input asp-for="Distance" class="form-control" type="number" min="0" step="1" />
                <span asp-validation-for="Distance" class="text-danger"></span>
                <small class="text-danger" id="distanceErrorMessage" style="display: none;">Qabul qilish masofasi avtomobilning oxirgi kiritilgan masofasidan @ViewBag.Mileage km kam bo'lishi mumkin emas!</small>
            </div>

            <div class="form-group w-50 mt-2" id="fuelConsumedFieldGroup" style="display:none;">
                <label class="control-label mt-2">Sarflangan yoqilg`i</label>
                <input type="text" id="fuelConsumedInput" class="form-control" disabled />
            </div>

            <div class="form-group w-50 mt-2">
                <label class="control-label mt-2">Yoqilg`i qoldig`i</label>
                <input type="text" class="form-control" value="@ViewBag.RemainingFuel"/>
            </div>

            <div class="form-group w-50 mt-2">
                <label asp-for="OilAmount" class="control-label mt-2">Haydovchi quygan yoqilg`i miqdori</label>
                <input asp-for="OilAmount" class="form-control" type="number" min="0" step="1" />
                <span asp-validation-for="OilAmount" class="text-danger"></span>
            </div>

            <div class="form-group w-50 mt-2">
                <label asp-for="RemainingFuelInCar" class="control-label mt-2">Avtomobildagi yoqilg`i miqdori</label>
                <input asp-for="RemainingFuelInCar" class="form-control" type="number" min="0" step="1" />
                <span asp-validation-for="RemainingFuelInCar" class="text-danger"></span>
            </div>

            <div class="form-group w-50 mt-2">
                <label asp-for="Comments" class="control-label mt-2">Izoh</label>
                <textarea asp-for="Comments" class="form-control" rows="4"></textarea>
            </div>

            <div class="form-group mt-3 w-50 mt-2">
                <a asp-action="PersonalIndex" class="btn btn-outline-info">
                    <i class="fa-solid fa-arrow-left-long"></i> Orqaga
                </a>
                <button class="btn btn-success" type="submit">
                    <i class="fa fa-plus"></i> Yaratish
                </button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function () {
            var form = document.getElementById('createFormByLink');
            var mileage = parseFloat(@ViewBag.Mileage);
            var meduimFuelConsumption = parseFloat(@ViewBag.MeduimFuelConsumption);
            var checkbox = document.getElementById('flexSwitchCheckDefault');
            var fuelConsumedInput = document.getElementById('fuelConsumedInput');
            var distanceInput = document.querySelector('input[name="Distance"]');
            var distanceErrorMessage = document.getElementById('distanceErrorMessage');
            var distanceFieldGroup = document.getElementById('distanceFieldGroup');
            var fuelConsumedFieldGroup = document.getElementById('fuelConsumedFieldGroup');

            function toggleDistanceField() {
                if (checkbox.checked) {
                    distanceFieldGroup.style.display = 'block';
                    distanceInput.value = mileage; // Set the distance input to the car's mileage when shown
                } else {
                    distanceFieldGroup.style.display = 'none';
                    distanceErrorMessage.style.display = 'none';
                    distanceInput.value = mileage; // Assign mileage to distance when checkbox is unchecked
                }
            }

            function toggleFuelConsumedField() {
                if (checkbox.checked) {
                    fuelConsumedFieldGroup.style.display = 'block';
                    updateFuelConsumed();
                } else {
                    fuelConsumedFieldGroup.style.display = 'none';
                    fuelConsumedInput.value = ''; // Очистить поле при скрытии
                }
            }

            function updateFuelConsumed() {
                var distanceValue = parseFloat(distanceInput.value);
                if (distanceValue > mileage) {
                    var fuelConsumed = (distanceValue - mileage) * meduimFuelConsumption / 100;
                    fuelConsumedInput.value = fuelConsumed.toFixed(2); // Обновить значение в поле
                } else {
                    fuelConsumedInput.value = ''; // Если значение некорректно, очистить поле
                }
            }

            toggleDistanceField(); // Изначальная проверка
            toggleFuelConsumedField(); // Изначальная проверка

            checkbox.addEventListener('change', function () {
                toggleDistanceField();
                toggleFuelConsumedField();

                if (!checkbox.checked) {
                    distanceInput.value = mileage;
                }
            });

            distanceInput.addEventListener('input', function () {
                updateFuelConsumed();
            });

            form.addEventListener('submit', function (event) {
                var distanceValue = parseInt(distanceInput.value);
                var isGiven = checkbox.checked;

                if (isGiven && (distanceValue < mileage)) {
                    event.preventDefault();
                    distanceErrorMessage.style.display = 'block';
                }

                if (distanceValue === 0 && isGiven) {
                    event.preventDefault();
                    alert("Qabul qilish masofanisini kiritishingiz shart!");
                }
            });
        });
    </script>
}

<style>
    .border-danger {
        border: 2px solid red !important;
    }

    .text-danger {
        color: red !important;
    }
</style>
