@model CheckDrive.ApiContracts.MechanicAcceptance.MechanicAcceptanceForCreateDto

@{
    ViewData["Title"] = "CreateByButton";
    Layout = "~/Views/Shared/_PersonalLayout.cshtml";
    bool noDriversAvailable = ViewBag.FilteredOperatorResponse == null || !((IEnumerable<dynamic>)ViewBag.FilteredOperatorResponse).Any();
}

<div class="row mt-custom">
    <div class="col-md-4 offset-md-1 mt-5">
        <h4>Ro'yxatga olish</h4>
        <hr class="w-50" />

        @if (noDriversAvailable)
        {
            <div class="alert alert-warning">
                <strong>Diqqat!</strong> Hozirda mavjud haydovchilar yo'q. Iltimos, keyinroq qayta urinib ko'ring.
            </div>
        }

        <form asp-action="Create" method="post" id="createFormByButton">
            <fieldset @(noDriversAvailable ? "disabled" : "")>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group w-50 mt-2">
                    <label asp-for="DriverId" class="control-label mt-2">Haydovchi</label>
                    <select asp-for="DriverId" class="form-control border border-dark" id="driverSelect">
                        @if (noDriversAvailable)
                        {
                            <option value="">Haydovchilar mavjud emas</option>
                        }
                        else
                        {
                            <option value="">Haydovchini tanlang</option>
                            @foreach (var driver in ViewBag.FilteredOperatorResponse)
                            {
                                <option value="@driver.DriverId" data-carid="@driver.CarId" data-carname="@driver.CarName" data-mileage="@driver.CarMileage" data-mediumfuel="@driver.MediumFuel">@driver.DriverName</option>
                            }
                        }
                    </select>
                </div>
                <div class="form-group w-50">
                    <input type="hidden" asp-for="MechanicId" class="form-control border border-dark" value="@ViewBag.MechanicId" />
                </div>
                <div class="form-group w-50 mt-2">
                    <label asp-for="CarId" class="control-label mt-2">Mashина</label>
                    <select asp-for="CarId" class="form-control border border-dark" id="carSelect" disabled>
                        <option value="">Avtomobil tanlang</option>
                    </select>
                    <input type="hidden" id="carIdInput" name="CarId" />
                </div>
                <div class="form-check form-switch mt-3">
                    <input asp-for="IsAccepted" class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                    <label asp-for="IsAccepted" class="form-check-label" for="flexSwitchCheckDefault">Soz?</label>
                </div>
                <div id="distanceGroup" class="form-group w-50 mt-2" style="display: none;">
                    <label asp-for="Distance" class="control-label mt-2">Qabul qilish masofasi</label>
                    <input asp-for="Distance" class="form-control" type="number" min="0" step="1" id="distanceInput" />
                    <span asp-validation-for="Distance" class="text-danger"></span>
                    <span class="distance-validation-message text-danger"></span>
                </div>
                <div class="form-group w-50 mt-2" id="fuelConsumptionGroup" style="display: none;">
                    <label class="control-label mt-2">Sarflangan yoqilg`i (L)</label>
                    <input type="text" class="form-control" id="fuelConsumptionInput" disabled />
                </div>
                <div class="form-group w-50 mt-2">
                    <label for="remainingFuelInput" class="control-label mt-2">Qolgan yoqilg'i (L)</label>
                    <input type="number" class="form-control" id="remainingFuelInput" disabled />
                </div>
                <div class="form-group w-50 mt-2">
                    <label asp-for="Comments" class="control-label mt-2">Izoh</label>
                    <textarea asp-for="Comments" class="form-control" rows="4"></textarea>
                </div>
            </fieldset>
            <div class="form-group mt-3 w-50 mt-3">
                <a asp-action="PersonalIndex" class="btn btn-outline-info">
                    <i class="fa-solid fa-arrow-left-long"></i> Orqaga
                </a>
                <button class="btn btn-success" type="submit" id="submitButton" @(noDriversAvailable ? "disabled" : "")>
                    <i class="fa fa-plus"></i> Yaratish
                </button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function () {
            var checkbox = document.getElementById('flexSwitchCheckDefault');
            var distanceGroup = document.getElementById('distanceGroup');
            var driverSelect = document.getElementById('driverSelect');
            var carSelect = document.getElementById('carSelect');
            var distanceInput = document.getElementById('distanceInput');
            var submitButton = document.getElementById('submitButton');
            var carIdInput = document.getElementById('carIdInput');
            var remainingFuelInput = document.getElementById('remainingFuelInput');
            var fuelConsumptionInput = document.getElementById('fuelConsumptionInput');
            var fuelConsumptionGroup = document.getElementById('fuelConsumptionGroup');
            var mileage = 0;
            var mediumFuel = 0;

            function toggleDistanceInput() {
                if (checkbox.checked) {
                    distanceGroup.style.display = "block";
                    fuelConsumptionGroup.style.display = "block"; // Показать input для расхода топлива
                } else {
                    distanceGroup.style.display = "none";
                    fuelConsumptionGroup.style.display = "none"; // Скрыть input для расхода топлива
                }
            }

            checkbox.addEventListener('change', toggleDistanceInput);
            toggleDistanceInput();  // Initial check

            driverSelect.addEventListener('change', function () {
                var selectedOption = driverSelect.options[driverSelect.selectedIndex];
                var carId = selectedOption.getAttribute('data-carid');
                var carName = selectedOption.getAttribute('data-carname');
                mileage = parseInt(selectedOption.getAttribute('data-mileage')) || 0;
                mediumFuel = parseFloat(selectedOption.getAttribute('data-mediumfuel')) || 0; // Получение среднего расхода топлива

                if (carId) {
                    fetch(`/MechanicAcceptances/GetCarDetails?carId=${carId}`)
                        .then(response => response.json())
                        .then(data => {
                            carIdInput.value = carId;
                            carSelect.innerHTML = `<option value="${carId}">${carName}</option>`;
                            distanceInput.value = mileage;
                            remainingFuelInput.value = data.remainingFuel;
                            validateDistance();
                            calculateFuelConsumption(); // Обновление расчета топлива
                        })
                        .catch(error => console.error('Error fetching car details:', error));
                } else {
                    carSelect.innerHTML = '<option value="">Avtomobil tanlang</option>';
                    distanceInput.value = '';
                    remainingFuelInput.value = '';
                    fuelConsumptionInput.value = ''; // Очистить значение
                }
            });

            distanceInput.addEventListener('input', function () {
                validateDistance();
                calculateFuelConsumption(); // Обновление расчета топлива при изменении distance
            });

            function validateDistance() {
                var distance = Number(distanceInput.value);
                if (distance < mileage) {
                    distanceInput.classList.add('is-invalid');
                    showValidationMessage(`Qabul qilish masofasi avtomobilning oxirgi kiritilgan masofasidan ${mileage} km kam bo'lishi mumkin emas!`);
                    submitButton.disabled = true;
                } else {
                    distanceInput.classList.remove('is-invalid');
                    clearValidationMessage();
                    submitButton.disabled = false;
                }
            }

            function calculateFuelConsumption() {
                var distance = Number(distanceInput.value);
                var fuelConsumption = ((distance - mileage) * mediumFuel) / 100;
                fuelConsumptionInput.value = fuelConsumption.toFixed(2); // Вывод расхода топлива с двумя знаками после запятой
            }

            function showValidationMessage(message) {
                var errorSpan = document.querySelector('.distance-validation-message');
                if (!errorSpan) {
                    errorSpan = document.createElement('span');
                    errorSpan.className = 'distance-validation-message text-danger';
                    distanceInput.parentNode.appendChild(errorSpan);
                }
                errorSpan.textContent = message;
            }

            function clearValidationMessage() {
                var errorSpan = document.querySelector('.distance-validation-message');
                if (errorSpan) {
                    errorSpan.textContent = '';
                }
            }
        });
    </script>
}
<style>
    .border-danger {
        border: 2px solid red !important;
    }

    .text-danger {
        color: red !important;
    }

    fieldset[disabled] .form-control,
    fieldset[disabled] .btn {
        background-color: #e9ecef;
        cursor: not-allowed;
    }

        fieldset[disabled] .form-control:disabled,
        fieldset[disabled] .btn:disabled {
            opacity: 1;
        }
</style>