@model CheckDrive.ApiContracts.MechanicAcceptance.MechanicAcceptanceForCreateDto

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_PersonalLayout.cshtml";
}

<div class="row mt-custom">
    <div class="col-md-4 offset-md-1 mt-5">
        <h4>Ro'yxatga olish</h4>
        <hr class="w-50" />

        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-check form-switch">
                <input asp-for="IsAccepted" class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                <label asp-for="IsAccepted" class="form-check-label" for="flexSwitchCheckDefault">Qabul qilish</label>
            </div>
            <div class="form-group w-50">
                <label asp-for="DriverId" class="control-label mt-2">Haydovchi</label>
                <select asp-for="DriverId" class="form-control border border-dark" asp-items="@ViewBag.Drivers" id="driverDropdown">
                    @if (ViewBag.SelectedDriverName != null)
                    {
                        <option value="@Model.DriverId" selected>@ViewBag.SelectedDriverName</option>
                    }
                </select>
            </div>
            <div class="form-group w-50">
                <label asp-for="CarId" class="control-label mt-2">Moshina</label>
                <select asp-for="CarId" class="form-control border border-dark" asp-items="@ViewBag.Cars" id="carDropdown">
                    @if (ViewBag.SelectedCar != null)
                    {
                        <option value="@Model.CarId" selected>@ViewBag.SelectedCar</option>
                    }
                </select>
            </div>
            <div class="form-group w-50">
                <input type="text" asp-for="MechanicId" class="form-control border border-dark d-none" />
            </div>
            <div class="form-group w-50">
                <label asp-for="Distance" class="control-label mt-2">Qabul qilish masofasi</label>
                <input asp-for="Distance" class="form-control" type="number" min="0" step="1" />
            </div>
            <div class="form-group w-50">
                <label asp-for="Comments" class="control-label mt-2">Izoh</label>
                <textarea asp-for="Comments" class="form-control" rows="4"></textarea>
            </div>
            <div class="form-group mt-3 w-50">
                <a asp-action="PersonalIndex" class="btn btn-outline-info">
                    <i class="fa-solid fa-arrow-left-long"></i> Orqaga
                </a>
                <button class="btn btn-outline-success" type="submit">
                    <i class="fa fa-plus"></i> Yaratish
                </button>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function () {
            var driverDropdown = document.getElementById('driverDropdown');
            var carDropdown = document.getElementById('carDropdown');
            var selectedDriverId = @Model.DriverId;

            var urlParams = new URLSearchParams(window.location.search);
            var driverIdParam = urlParams.get('driverId'); 

            if (driverIdParam) {
                driverDropdown.disabled = true;
                carDropdown.disabled = true;

                driverDropdown.value = driverIdParam;

                fetchCarByDriverId(driverIdParam);
            } else {
                driverDropdown.disabled = false;

                if (selectedDriverId !== 0) {
                    driverDropdown.value = selectedDriverId;
                    fetchCarByDriverId(selectedDriverId);
                    carDropdown.disabled = true; 
                }
            }

            driverDropdown.addEventListener('change', function () {
                var driverId = this.value;
                fetchCarByDriverId(driverId);
            });

            function fetchCarByDriverId(driverId) {
                $.ajax({
                    url: '@Url.Action("GetCarByDriverId")',
                    type: 'GET',
                    data: { driverId: driverId },
                    success: function (response) {
                        if (response.success) {
                            var car = response.car;
                            carDropdown.innerHTML = `<option value="${car.id}" selected>${car.model} (${car.number})</option>`;
                            document.getElementById('CarId').value = car.id;
                        } else {
                            carDropdown.innerHTML = `<option value="" selected>No car available</option>`;
                            document.getElementById('CarId').value = '';
                        }
                        carDropdown.disabled = false; 
                    }
                });
            }
        });
    </script>
}

