@model IEnumerable<CheckDrive.ApiContracts.MechanicAcceptance.MechanicAcceptanceDto>

@{
    ViewData["Title"] = "Mechanic Acceptances (Personal)";
    Layout = "~/Views/Shared/_PersonalLayout.cshtml";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="d-flex justify-content-end mb-3">
                <a class="btn btn-success shadow" href="@Url.Action("Create", "MechanicAcceptances")">
                    <i class="fa fa-plus"></i> Yaratish
                </a>
            </div>

            <div class="table-responsive">
                <table class="table table-bordered table-striped table-hover paper-shadow">
                    <thead>
                        <tr>
                            <th scope="col" style="width: 13%">Haydovchi F.I</th>
                            <th scope="col" style="width: 13%">Mexanik F.I</th>
                            <th scope="col" style="width: 10%">Qabul qilish</th>
                            <th scope="col" style="width: 20%">Qabul qilish masofasi</th>
                            <th scope="col" style="width: 38%">Izoh</th>
                            <th scope="col" style="width: 20">Sana</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null && Model.Any())
                        {
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td class="text-center vertical-align-middle">
                                        @if (!string.IsNullOrEmpty(item.MechanicName))
                                        {
                                            @item.DriverName
                                        }
                                        else
                                        {
                                            <a href="/MechanicAcceptances/Create?driverId=@item.DriverId">@item.DriverName</a>
                                        }
                                    </td>
                                    <td>@item.MechanicName</td>
                                    <td>
                                        @if (item.Date != null && item.Date.Value.Date == DateTime.Today)
                                        {
                                            @if (item.IsAccepted)
                                            {
                                                <span class="badge bg-success shadow">Qabul qilindi</span>
                                            }
                                            else
                                            {
                                                <span class="badge bg-danger shadow">Rad etildi</span>
                                            }
                                        }
                                    </td>
                                    <td>@item.Distance</td>
                                    <td>@item.Comments</td>
                                    <td>@item.Date</td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="5" class="text-center">
                                    Maʼlumotlar mavjud emas
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>

<style>
    .badge {
        font-size: 0.8rem;
        padding: 5px 10px;
        border-radius: 5px;
    }

    .bg-success {
        background-color: #28a745;
    }

    .bg-danger {
        background-color: #dc3545;
    }

    .bg-secondary {
        background-color: #6c757d;
    }

    .container {
        margin-top: 30px;
    }

    .table-bordered {
        border: 1px solid #dee2e6;
    }

        .table-bordered th,
        .table-bordered td {
            border: 1px solid #dee2e6;
        }

    .paper-shadow {
        background: white;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
    }

    .pagination {
        justify-content: flex-end;
    }

    .shadow {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .pagination .page-link {
        margin-left: 5px;
    }

    .pagination .page-item.shadow {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
</style>
