@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_PersonalLayout.cshtml";
    var operatorReviews = ViewBag.OperatorReviews;
}

<h1 class="text-center">Operator oynasi</h1>

<div class="col-12 text-end mb-3">
    <a class="btn btn-success" asp-action="Create" style="margin-right:180px">
        <i class="fa fa-plus"></i> Create
    </a>
</div>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-bordered table-striped table-hover shadow">
                    <thead>
                        <tr>
                            <th class="text-center">Haydovshi F.I.</th>
                            <th class="text-center">Moshina markasi</th>
                            <th class="text-center">Moshina raqami</th>
                            <th class="text-center">Yoqilg`i sig`imi</th>
                            <th class="text-center">Yoqilg`i qoldig`i</th>
                            <th class="text-center">Quyilgan yoqilg`i miqdori</th>
                            <th class="text-center">Yoqilg`i Markasi</th>
                            <th class="text-center comments-column">Izoh</th>
                            <th class="text-center">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var review in operatorReviews)
                        {
                            <tr>
                                <td class="text-center">@review.DriverName</td>
                                <td class="text-center">@review.CarModel</td>
                                <td class="text-center">@review.CarNumber</td>
                                <td class="text-center">@review.CarOilCapacity</td>
                                <td class="text-center">@review.CarOilRemainig</td>
                                <td class="text-center">@review.OilAmount</td>
                                <td class="text-center">@review.OilMarks</td>
                                <td class="text-center comments-column">@review.Comments</td>
                                <td class="text-center">@review.Status</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<style>
    .table {
        width: 100%; /* Увеличиваем ширину таблицы */
        margin: 0 auto;
    }

        .table th, .table td {
            vertical-align: middle !important;
        }

    .container {
        margin-top: 30px;
    }

    .table-bordered {
        border: 1px solid #dee2e6;
    }

        .table-bordered th, .table-bordered td {
            border: 1px solid #dee2e6;
        }

    .pagination {
        justify-content: flex-end;
    }

    .shadow {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .text-center {
        text-align: center !important;
    }

    .text-end {
        text-align: end !important;
    }

    .mb-2 {
        margin-bottom: 0.5rem !important;
    }

    .mt-5 {
        margin-top: 3rem !important;
    }

    .comments-column {
        min-width: 300px; 
        word-wrap: break-word; 
    }
</style>
