@model CheckDrive.ApiContracts.Account.AccountDto

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form asp-controller="Accounts" asp-action="Index">
    <div class="row mt-4">
        <div class="d-flex justify-content-between">
            <!-- Filter -->
            <div class="col-md-2 mb-4 filter-bar" >
                <div class="input-group">                  
                    <select class="form-control form-select" name="roleId" id="roles" onchange="searchAndFilter()">
                        @foreach (var role in ViewBag.Roles)
                        {
                            <option value="@role.Id" selected="@(role.Id == ViewBag.RoleId)">
                                @role.Name
                            </option>
                        }
                    </select>
               </div>
            </div>
            <!-- Search -->
            <div class="col-md-4 ms-lg-3 mb-4">
                <ejs-textbox id="search-box"
                             name="search"
                             class="search-box"
                             placeholder="Ishchini izlash..."
                             floatLabelType="Never"
                             value="@ViewBag.SearchString"
                             input="searchAndFilter">
                </ejs-textbox>
            </div>
            <!-- Create -->
            <div class="d-flex col-md mb-4 justify-content-end create-btn">
                <button id="openModalButton" class="btn btn-success" asp-action="create" type="button">
                        <i class="fa fa-plus"></i> Yaratish
                 </button>
             </div>
        </div>
    </div>
</form>

<div class="row">
    <div class="col-12">
        <ejs-grid id="accounts-list"
                  dataSource="@ViewBag.Accounts"
                  gridLines="Both"
                  allowSorting="true"
                  allowPaging="true"
                  allowFiltering="true">
            <e-grid-pagesettings pageSize="10"></e-grid-pagesettings>
            <e-grid-columns>
                <e-grid-column headerText="Ism" field="FirstName" textAlign="Center" headerTextAlign="Center" typeof="text"></e-grid-column>
                <e-grid-column headerText="Familiya" field="LastName" textAlign="Center" headerTextAlign="Center" typeof="text"></e-grid-column>
                <e-grid-column headerText="Telefon raqam" field="PhoneNumber" textAlign="Center" headerTextAlign="Center" typeof="text"></e-grid-column>
                <e-grid-column headerText="Tug'ilgan yil" field="Bithdate" textAlign="Center" headerTextAlign="Center" type="date" format="dd-MM-yyyy"></e-grid-column>
                <e-grid-column headerText="Kasb" field="RoleName" textAlign="Center" headerTextAlign="Center" typeof="text"></e-grid-column>
                <e-grid-column width="180" type="text" textAlign="Center" template="#actionTemplate"></e-grid-column>
            </e-grid-columns>
        </ejs-grid>
    </div>
</div>

<script type="text/x-template" id="actionTemplate">
    <button type="button" class="shadow-sm  bg-white rounded e-btn e-flat mx-2" title="Tafsilot" onclick="onDetailsClick(${Id})">
        <i class="bi bi-card-list text-info" style="font-size: 19px;"></i>
    </button>
    <button type="button"  class="shadow-sm  bg-white rounded e-btn e-flat" title="Tahrirlash" onclick="onEditClick(${Id})">
        <i class="fa-solid fa-pen fa-lg text-warning" ></i>
    </button>
    <button type="button" class="shadow-sm   bg-white rounded e-btn e-flat mx-2"  title="O&#39;chirish" onclick="onDeleteClick(${Id})">
        <i class="fa-solid fa-trash-can fa-lg text-danger" ></i>
    </button>
</script>

<div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header d-flex justify-content-center">
                <h4 class="modal-title">Yangi ishchi ma'lumotini yaratish</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" data-target="#createModal">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body" id="accountModalContent">
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#openModalButton').on('click', function () {
            $('#accountModalContent').empty();
            $.ajax({
                url: '/accounts/create',
                type: 'GET',
                contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                headers: {
                    'RequestVerificationToken': $('input[name="__RequestVerificationToken"]').val()
                },
                success: function (data) {
                    $('#accountModalContent').html(data);  
                    $.getScript('/lib/jquery-validation/dist/jquery.validate.min.js', function () {
                        $.getScript('/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js');
                    });
                    var modal = new bootstrap.Modal(document.getElementById('createModal'), {
                        backdrop: 'static',
                        keyboard: false
                    });

                    modal.show();
                                          
                    var phoneTextbox = new ej.inputs.TextBox({                        
                        value: "+998",
                    });
                    phoneTextbox.appendTo("#phoneNumberId");

                },
                error: function (error) {
                    alert("Yaratish oynasini chiqarishda muommo buldi.");
                }
            });
        });
    });

    $('#createModal').on('hidden.bs.modal', function () {
        $(this).find('#accountModalContent').empty();
        $(this).off('hidden.bs.modal');
    });
</script>

<div class="modal fade" id="detailsModal" tabindex="-1" aria-labelledby="detailsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header d-flex justify-content-center">
                <h3 class="modal-title" id="detailsModalLabel">Ishchining ma'lumotlari</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="detailsContent">
            </div>
        </div>
    </div>
</div>

<script>
    function onDetailsClick(id) {
        $('#detailsContent').empty();
        $.ajax({
            url: `/accounts/details/${id}`,
            type: 'GET',
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            success: function (data) {
                $('#detailsContent').html(data);
                var detailsModal = new bootstrap.Modal(document.getElementById('detailsModal'), {
                    backdrop: 'static',
                    keyboard: false
                });
                detailsModal.show();
            },
            error: function (error) {
                alert("Ma'lumotlarni yuklashda muammo yuz berdi.");
            }
        });
    }

    $('#detailsModal').on('hidden.bs.modal', function () {
        $(this).find('#detailsContent').empty();
    });
</script>

<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body" id="deleteContent">
            </div>
        </div>
    </div>
</div>

<script>
    function onDeleteClick(id) {
        $('#deleteContent').empty();
        $.ajax({
            url: "/accounts/delete/" + id,
            type: 'GET',
            success: function (data) {
                $('#deleteContent').html(data);
                $('#deleteModal').modal('show');
            },
            error: function () {
                $('#deleteContent').html('<p>Error loading details</p>');
            }
        });
        $(this).find('#deleteContent').empty();
        $(this).off('hidden.bs.modal');
    }
</script>

<div class="modal fade" id="accountEditModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header d-flex justify-content-center">
                <h4 class="modal-title">Ishchi ma'lumotini o'zgartirish</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" data-target="#">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body" id="accountEditModalContent">
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function onEditClick(id) {
        $('#accountEditModalContent').empty();
        $.ajax({
            url: "/accounts/edit/" + id,
            type: 'GET',
            success: function (data) {
                $('#accountEditModalContent').html(data);
                $('#accountEditModal').modal({
                    backdrop: 'static',
                    keyboard: false
                }).modal('show');                
            },
            error: function (error) {
                alert("Tahrirlash oynasini ochishda muommo bo'ldi \n" + error);
            }
        });
        $(this).find('#accountEditModalContent').empty();
        $(this).off('hidden.bs.modal');
    }
</script>

<script>
    function searchAndFilter() {
        const searchInput = document.getElementById("search-box").value.trim();
        const selectedElement = document.getElementById("roles");
        const filterInput = selectedElement[selectedElement.selectedIndex]?.text || "";
        const gridElement = document.getElementById("accounts-list");
        const gridInstance = gridElement?.ej2_instances?.[0];

        if (!gridInstance) {
            console.error("Grid instance not found.");
            return;
        }

        if (filterInput === 'Barcha ishchilar' || filterInput === "") {
            gridInstance.clearFiltering();
        } else {
            gridInstance.filterByColumn("RoleName", "equal", filterInput);
        }

        if (searchInput) {
            gridInstance.search(searchInput);
        } else {
            gridInstance.searchSettings.key = "";
        }

        gridInstance.refresh();
    }
</script>

<style>
    .input-group select {
        height: 37px !important;
        padding-left: 10px;
        padding-top: 4px;
    }

    .e-input-group input {
        height: 35px !important;
    }

    button {
        height: 37px;
    }

    .e-filterbar {
        display: none;
    }

    .e-pager .e-pagerexternalmsg {
        display: none;
    }
</style>
