@model CheckDrive.ApiContracts.Account.AccountDto

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Ishchilar</h2>

<form asp-controller="Accounts" asp-action="Index">
    <div class="row">
        <div class="d-flex flex-row align-items-start gap-4">
            <!-- Search -->
            <div class="col-md-3 mb-4">
                <div class="input-group">
                     <input type="hidden" name="prevCategoryId" value="@ViewBag.SelectedCategory?.Id" /> 
                    <input type="text" class="form-control rounded-left" placeholder="Search ..." name="searchString" value="@ViewBag.SearchString">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-primary">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
            </div>
            <!-- Filter -->
            <div class="col-md-2 mb-4">
                <div class="input-group">
                    <select class="form-control" name="roleId"> 
                        @foreach (var role in ViewBag.Roles)
                        {
                            <option value="@role.Id" selected="@(role.Id == ViewBag.RoleId)">
                                @role.Name
                            </option>
                        }
                    </select>
                </div>
            </div>
            <!-- Date -->
            <div class="col-md-2 mb-4">
                <input type="date" name="birthDate" class="form-control">
            </div>
            <!-- Create -->
            <div class="d-flex col-md-4 mb-4">
                  <a class="btn btn-success" asp-action="create">
                        <i class="fa fa-plus"></i> Create
                  </a>
             </div>
        </div>
    </div>
</form>

<div class="row">
    <div class="col-12">
        <ejs-grid id="accounts-list"
                  dataSource="@ViewBag.Accounts"
                  gridLines="Vertical"
                  allowSorting="true">
            <e-grid-columns>
                <e-grid-column headerText="Id" field="Id" field="Id" template="#template" typeof="Text"></e-grid-column>
                <e-grid-column headerText="Ism" field="FirstName" typeof="text"></e-grid-column>
                <e-grid-column headerText="Familiya" field="LastName" typeof="text"></e-grid-column>
                <e-grid-column headerText="Telefon raqam" field="PhoneNumber" typeof="text"></e-grid-column>
                <e-grid-column headerText="To'g'ilgan yil" field="Bithdate" type="date" format="dd-MM-yyyy"></e-grid-column>
                <e-grid-column headerText="Kasbi" field="RoleName" typeof="text"></e-grid-column>
            </e-grid-columns>
        </ejs-grid>
    </div>
</div>

<script id="template" type="text/x-template">
    <div>
        <a rel='nofollow' href="accounts/Details/${Id}">${Id}</a>
    </div>
</script>