@model CheckDrive.ApiContracts.Car.CarDto

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="align-items-baseline" style="margin-top: 100px">O'chirish</h1>
<hr />

<h3 style="color:grey;">
    Haqiqatan ham buni oʻchirib tashlamoqchimisiz?
    O'chirsangiz bu mashina ishtirok etgan barcha ma'lumotlar ham o'chiriladi!!!
</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            ID:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            Model:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt class="col-sm-2">
            Rangi:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Color)
        </dd>
        <dt class="col-sm-2">
            Davlat raqami:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Number)
        </dd>
        <dt class="col-sm-2">
            Bosib o'tgan masofasi:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Mileage)
        </dd>
        <dt class="col-sm-2">
            Avtomobildagi yoqilg'i hajmi:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RemainingFuel)
        </dd>
        <dt class="col-sm-2">
            O'rtacha yoqilg'i sarfi:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MeduimFuelConsumption)
        </dd>
        <dt class="col-sm-2">
            Yoqilg'i baki sig'imi:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FuelTankCapacity)
        </dd>
        <dt class="col-sm-2">
            Ishlab chiqarilgan yili:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ManufacturedYear)
        </dd>
    </dl>
    <!-- Tugmalar -->
    <form asp-action="Delete">
        <div class="form-group">
            <a asp-action="Index" class="btn btn-outline-info">
                <i class="fa-solid fa-arrow-left-long"></i>
                Orqaga
            </a>
            <button asp-route-itemid="@Model.Id" class="btn btn-outline-danger">
                <i class="fa-solid fa-trash"></i>
                O'chirish
            </button>
        </div>
    </form>
</div>

