@model CheckDrive.ApiContracts.Car.CarDto

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h4>Moshina haqida ma'lumot</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            ID:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            Model:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt class="col-sm-2">
            Rangi:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Color)
        </dd>
        <dt class="col-sm-2">
            Davlat raqami:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Number)
        </dd>
        <dt class="col-sm-2">
            Ishlab chiqarilgan yili:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ManufacturedYear)
        </dd>
        <dt class="col-sm-2">
            Bosib o'tgan masofasi:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Mileage)
        </dd>
        <dt class="col-sm-2">
            Avtomobildagi yoqilg'i qoldig`i:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RemainingFuel)
        </dd>
        <dt class="col-sm-2">
            O'rtacha yoqilg'i sarfi:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MeduimFuelConsumption)
        </dd>
        <dt class="col-sm-2">
            Yoqilg'i baki sig'imi:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FuelTankCapacity)
        </dd>
        <dt class="col-sm-2">
            1 yillik bosib o'tish me'yori:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OneYearMediumDistance)
        </dd>
        <dt class="col-sm-2">
            1 oylik bosib o'tish me'yori:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OneMonthMediumDistance)
        </dd>
        <dt class="col-sm-2">
            1 yillik yoqilg'i me'yori:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OneYearMeduimFuelConsumption)
        </dd>
        <dt class="col-sm-2">
            1 oylik yoqilg'i me'yori:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OneMonthMeduimFuelConsumption)
        </dd>
    </dl>
</div>

<div class="mt-4">
    <a asp-action="Index" class="btn btn-outline-info">
        <i class="fa-solid fa-arrow-left"></i>
        Orqaga
    </a>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-outline-warning">
        <i class="fa-solid fa-pen"></i>
        Tahrirlash
    </a>
    <a asp-action="Delete" asp-route-id="@Model?.Id" class="btn btn-outline-danger">
        <i class="fa-solid fa-trash"></i>
        O'chirish
    </a>
</div>

