@using CheckDrive.Web.ViewModels.Car
@model CarViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutForModal.cshtml";
}

<div class="grid-container mt-3">
    <div class="row content">
        <div class="col text-center">
            Model
        </div>
        <div class="col text-center">
            Ishlab chiqarilgan yil
        </div>
        <div class="col text-center">
            Davlat raqami
        </div>
    </div>
    <div class="row value">
        <div class="col text-center">
            @Model.Model
        </div>
        <div class="col text-center">
            @Model.ManufacturedYear
        </div>
        <div class="col text-center">
            @Model.Number
        </div>
    </div>
    <div class="row content">
        <div class="col text-center">
            Bosib o'tgan masofasi
        </div>
        <div class="col text-center">
            Yoqilg'i qoldig'i
        </div>
    </div>
    <div class="row value">
        <div class="col text-center">
            @Model.Mileage
        </div>
        <div class="col text-center">
            @Model.RemainingFuel
        </div>
    </div>
    <div class="row content">
        <div class="col text-center">
            O'rtacha yoqilg'i sarfi
        </div>
        <div class="col text-center">
            Yoqilg'i baki sig'imi
        </div>
    </div>
    <div class="row value">
        <div class="col text-center">
            @Model.AverageFuelConsumption
        </div>
        <div class="col text-center">
            @Model.FuelCapacity
        </div>
    </div>
    <div class="row content">
        <div class="col text-center">
            1 yillik bosib o'tishi me'yori
        </div>
        <div class="col text-center">
            1 oylik bosib o'tish me'yori
        </div>
    </div>
    <div class="row value">
        <div class="col text-center">
            @Model.YearlyDistanceLimit
        </div>
        <div class="col text-center">
            @Model.MonthlyDistanceLimit
        </div>
    </div>
    <div class="row content">
        <div class="col text-center">
            1 yillik yoqilg'i me'yori
        </div>
        <div class="col text-center">
            1 oylik yoqilg'i me'yori
        </div>
    </div>
    <div class="row value">
        <div class="col text-center bottom-style">
            @Model.YearlyFuelConsumptionLimit
        </div>
        <div class="col text-center bottom-style">
            @Model.MonthlyFuelConsumptionLimit
        </div>
    </div>
</div>